<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/tvform}" th:object="${tvshow}" method="post">
    Id: <input type="number" th:field="*{id}"/>
    <span class="text-warning" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span><br/>
    Name: <input type="text" th:field="*{name}"/>
    <span  class="text-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
    Type: <input typ="text" th:field="*{type}"/>
    <span class="text-warning" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span><br/>
    Description: <textarea row="3"  th:field="*{description}"/>
    <span class="text-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br/>
    <input type="submit" value="Submit"/>
   </form>
  </body>
</html>